@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900&display=swap);
@charset "UTF-8";
@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
[class*=_icon-]:before, [class*=_icon-]:after {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before, [class*=_icon-]:after {
  display: block;
}

._icon-Shopping-bag:before {
  content: "\e900";
  color: #fff;
}

._icon-Sauce:before {
  content: "\e901";
  color: #ff7010;
}

._icon-Saucew:before {
  content: "\e902";
  color: #ff7010;
}

._icon-Property-1Fill-5:before {
  content: "\e903";
  color: #ff7010;
}

._icon-Dessertw:before {
  content: "\e904";
  color: #ff7010;
}

._icon-Combo:before {
  content: "\e905";
  color: #ff7010;
}

._icon-Snacks:before {
  content: "\e907";
  color: #ff7010;
}

._icon-Snacksw:before {
  content: "\e908";
  color: #ff7010;
}

._icon-Drink:before {
  content: "\e909";
  color: #ff7010;
}

._icon-Drinkw:before {
  content: "\e90a";
  color: #ff7010;
}

._icon-Sushi:before {
  content: "\e90b";
  color: #ff7010;
}

._icon-Sushiw:before {
  content: "\e90c";
  color: #ff7010;
}

._icon-Pizza:before {
  content: "\e90d";
  color: #ff7010;
}

._icon-Pizzaw:before {
  content: "\e90e";
  color: #ff7010;
}

._icon-Fire:before {
  content: "\e90f";
  color: #e23535;
}

._icon-Firew:before {
  content: "\e910";
  color: #e23535;
}

._icon-plus:before {
  content: "\e911";
  color: #ff7010;
}

._icon-minus:before {
  content: "\e912";
  color: #ff7010;
}

._icon-Vector-2:before {
  content: "\e913";
  color: #24d17e;
}

._icon-Cross:before {
  content: "\e914";
  color: #a5a5a5;
}

._icon-Vector-1:before {
  content: "\e915";
  color: #ff7010;
}

._icon-Left_Arrow_4_:before {
  content: "\e916";
  color: #ff7010;
}

._icon-Vector:before {
  content: "\e918";
  color: #a5a5a5;
}

._icon-Left_Arrow_4:after {
  content: "\e919";
  color: #a5a5a5;
}

._icon-Location:before {
  content: "\e91a";
  color: #ff7010;
}

._icon-Account:before {
  content: "\e91b";
  color: #ff7010;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #191919;
  line-height: 1;
  font-family: "Inter";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Inter";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  scroll-behavior: smooth;
  font-family: Inter;
  background-color: #E5E5E5;
  position: relative;
  min-height: 100vh;
}
.lock body {
  overflow: hidden;
  touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}
.loaded .wrapper {
  background-color: red;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 80.625rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

.header {
  width: 100%;
  background-color: #fff;
  margin-bottom: 1.875rem;
}
.header__body {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  font-size: 0.875rem;
}
.header__top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2.5rem;
}
.header__left {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
@media (min-width: 82.5em) {
  .header__left {
    gap: 2.5rem;
  }
}
@media (min-width: 20em) and (max-width: 82.5em) {
  .header__left {
    gap: calc(0rem + 2.5 * (((100vw - 20rem)) / ((62.5))));
  }
}
@media (max-width: 20em) {
  .header__left {
    gap: 0rem;
  }
}
@media (max-width: 61.1875em) {
  .header__left {
    max-width: 15.625rem;
  }
}
@media (max-width: 40.3125em) {
  .header__left {
    max-width: 21.875rem;
  }
}
@media (max-width: 31.875em) {
  .header__left {
    justify-content: space-between;
    max-width: 31.875rem;
  }
}
.header__location {
  line-height: 1.2857142857;
  display: inline-flex;
  align-items: center;
}
@media (min-width: 82.5em) {
  .header__location {
    gap: 0.5rem;
  }
}
@media (min-width: 20em) and (max-width: 82.5em) {
  .header__location {
    gap: calc(0rem + 0.5 * (((100vw - 20rem)) / ((62.5))));
  }
}
@media (max-width: 20em) {
  .header__location {
    gap: 0rem;
  }
}
.header__location::after {
  font-size: 0.8125rem;
  color: #000;
}
@media (max-width: 40.3125em) {
  .header__location {
    font-size: 0.75rem;
    line-height: 0.75;
  }
  .header__location::after {
    display: none;
  }
  .header__location img {
    width: 0.8125rem;
    height: 1.25rem;
    margin-right: 0.3125rem;
  }
}
@media (max-width: 40.3125em) {
  .header__location-check {
    position: absolute;
    left: -150%;
  }
}
.header__delivery span {
  font-weight: bold;
}
@media (max-width: 61.1875em) {
  .header__delivery {
    display: none;
  }
}
@media (max-width: 40.3125em) {
  .header__delivery {
    display: block;
    font-size: 0.75rem;
    line-height: 0.75;
  }
}
.header__right {
  width: 100%;
  max-width: 26.25rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
@media (min-width: 82.5em) {
  .header__right {
    gap: 2.5rem;
  }
}
@media (min-width: 20em) and (max-width: 82.5em) {
  .header__right {
    gap: calc(0rem + 2.5 * (((100vw - 20rem)) / ((62.5))));
  }
}
@media (max-width: 20em) {
  .header__right {
    gap: 0rem;
  }
}
@media (max-width: 40.3125em) {
  .header__right {
    max-width: 8.4375rem;
  }
}
@media (max-width: 31.875em) {
  .header__right {
    width: 0;
  }
}
@media (max-width: 40.3125em) {
  .header__time-work {
    position: absolute;
    left: -150%;
  }
}
.header__sign-in {
  display: inline-flex;
  align-items: center;
  position: relative;
}
.header__sign-in::before {
  font-size: 1rem;
  cursor: pointer;
}
@media (min-width: 82.5em) {
  .header__sign-in::before {
    margin-right: 0.75rem;
  }
}
@media (min-width: 20em) and (max-width: 82.5em) {
  .header__sign-in::before {
    margin-right: calc(0.3125rem + 0.4375 * (((100vw - 20rem)) / ((62.5))));
  }
}
@media (max-width: 20em) {
  .header__sign-in::before {
    margin-right: 0.3125rem;
  }
}
@media (max-width: 31.875em) {
  .header__sign-in {
    position: absolute;
    left: -150%;
  }
}
.header__account-menu {
  position: absolute;
  right: -40%;
  top: 200%;
  height: 12.5rem;
  background-color: #fff;
  padding: 0.9375rem;
  border-radius: 0.625rem;
  border-radius: 12px;
  z-index: 55;
  box-shadow: 0px 2px 8px rgba(25, 25, 25, 0.1);
}
@media (min-width: 82.5em) {
  .header__account-menu {
    width: 15.625rem;
  }
}
@media (min-width: 20em) and (max-width: 82.5em) {
  .header__account-menu {
    width: calc(9.375rem + 6.25 * (((100vw - 20rem)) / ((62.5))));
  }
}
@media (max-width: 20em) {
  .header__account-menu {
    width: 9.375rem;
  }
}
@media (max-width: 90em) {
  .header__account-menu {
    right: 20%;
  }
}
.header__account-menu ul {
  display: flex;
  gap: 16px;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 5.75rem;
  border-bottom: 1px solid #F0F0F0;
  border-top: 1px solid #F0F0F0;
}
.header__account-menu button {
  color: #A5A5A5;
  font-size: 1rem;
  line-height: 1.375;
  height: 2.8125rem;
}
.header__a {
  height: 2.625rem;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FF7010;
  font-size: 1rem;
  line-height: 1.25;
}
.header__bottom {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  gap: 10px;
}
.header__logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  font-size: 1rem;
  transition: all 0.3s ease-in;
}
.header__logo:hover, .header__logo :active {
  transform: scale(1.1);
}
@media (max-width: 56.875em) {
  .header__logo {
    gap: 8px;
  }
}
.header__cart {
  z-index: 15;
  width: 5.5625rem;
  height: 2.5rem;
  background-color: #FF7010;
  font-family: "Segoe UI";
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.375;
  color: #fff;
  font-style: normal;
  border-radius: 4px;
  transition: all 0.3s;
}
@media (max-width: 40.3125em) {
  .header__cart {
    position: absolute;
    height: 3.5rem;
    width: 3.5rem;
    bottom: 4.5%;
    right: 4.5%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header__cart span {
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    color: #FF7010;
    font-size: 0.8125rem;
    border: 0.5px solid #FF7010;
    top: 0;
    right: -5%;
  }
}
.header__cart:hover, .header__cart :active {
  transform: scale(1.2);
}

.menu {
  transition: all 0.3s;
  display: none;
  overflow: hidden;
}
@media (max-width: 40.3125em) {
  .menu {
    opacity: 0;
    display: block;
    position: absolute;
    top: 0;
    right: 150%;
  }
}
.menu-open .menu {
  transition: all 0.5s;
  opacity: 1;
}
@media (max-width: 40.3125em) {
  .menu-open .menu {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    box-sizing: border-box;
    height: 100vh;
    min-height: 100%;
    width: 100vw;
    min-width: 320px;
    overflow: hidden;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 40;
  }
}
@media (max-width: 40.3125em) and (min-width: 82.5em) {
  .menu-open .menu {
    padding-left: 3.75rem;
  }
}
@media (max-width: 40.3125em) and (min-width: 20em) and (max-width: 82.5em) {
  .menu-open .menu {
    padding-left: calc(1.25rem + 2.5 * (((100vw - 20rem)) / ((62.5))));
  }
}
@media (max-width: 40.3125em) and (max-width: 20em) {
  .menu-open .menu {
    padding-left: 1.25rem;
  }
}
.menu__location {
  min-height: 2.5rem;
  width: 100%;
  gap: 5px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__location a {
  font-size: 0.75rem;
  line-height: 1.3333333333;
}
.menu__list {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
  justify-content: flex-start;
  gap: 5px;
  background-color: #fff;
  position: relative;
}
.menu__link-box {
  position: relative;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-around;
  min-height: 17.5rem;
  margin-bottom: 1.25rem;
}
.menu__link-box::after {
  content: "";
  position: absolute;
  height: 1px;
  background-color: #F0F0F0;
  position: absolute;
  width: 150%;
  right: 0;
  bottom: -3%;
}
.menu__link-box a {
  font-size: 1rem;
}
@media (max-width: 20em) {
  .menu__link-box {
    gap: 5px;
    justify-content: flex-start;
    min-height: 0;
    margin-bottom: 0.625rem;
    padding: 0.3125rem 0;
  }
  .menu__link-box a {
    font-size: 0.8125rem;
    line-height: 1.0769230769;
  }
}
.menu__text {
  color: #A5A5A5;
  width: 100%;
  text-align: center;
  padding: 1.5rem 0;
  font-size: 0.875rem;
  line-height: 1.2857142857;
}
@media (min-width: 82.5em) {
  .menu__text {
    padding-right: 3.75rem;
  }
}
@media (min-width: 20em) and (max-width: 82.5em) {
  .menu__text {
    padding-right: calc(1.25rem + 2.5 * (((100vw - 20rem)) / ((62.5))));
  }
}
@media (max-width: 20em) {
  .menu__text {
    padding-right: 1.25rem;
  }
}
@media (max-width: 20em) {
  .menu__text {
    padding: 0.25rem 0;
  }
}
.menu__contact {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 19px;
}
.menu__contact div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 18px;
}
.menu__contact-social {
  display: flex;
  gap: 24;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
}
@media (min-width: 82.5em) {
  .menu__contact-social {
    margin-bottom: 4.375rem;
  }
}
@media (min-width: 20em) and (max-width: 82.5em) {
  .menu__contact-social {
    margin-bottom: calc(1.875rem + 2.5 * (((100vw - 20rem)) / ((62.5))));
  }
}
@media (max-width: 20em) {
  .menu__contact-social {
    margin-bottom: 1.875rem;
  }
}
@media (max-width: 20em) {
  .menu__contact-social {
    margin-bottom: 0.9375rem;
  }
}

.menu-sign-in {
  display: inline-flex;
  align-items: center;
  font-size: 1rem;
  line-height: 1.25;
  gap: 12px;
  position: relative;
  padding-bottom: 0.3125rem;
  min-height: 3.125rem;
  width: 100%;
}
.menu-sign-in::before {
  font-size: 2rem;
  cursor: pointer;
}
.menu-sign-in::after {
  content: "";
  position: absolute;
  height: 1px;
  background-color: #F0F0F0;
  position: absolute;
  width: 150%;
  right: 0;
  bottom: 0;
}
@media (max-width: 20em) {
  .menu-sign-in {
    min-height: 0;
    padding: 0.625rem 0;
    font-size: 0.875rem;
  }
  .menu-sign-in::before {
    font-size: 1.5625rem;
    cursor: pointer;
  }
}
.menu-sign-in__body {
  position: absolute;
  left: -2%;
  z-index: 30;
  top: 100%;
  width: 98%;
  height: 12.5rem;
  background-color: #fff;
  padding: 0.9375rem;
  border-radius: 0.625rem;
  border-radius: 2px;
  box-shadow: 0px 2px 8px rgba(25, 25, 25, 0.1);
  padding-top: 2.5rem;
}
.menu-sign-in__body a {
  color: #FF7010;
  margin: 1.25rem;
}
.menu-sign-in__body ul {
  margin-top: 1.25rem;
}
.menu-sign-in__body ul li {
  margin-bottom: 0.625rem;
}
.menu-sign-in__body ul a {
  color: #000;
}
.menu-sign-in__body button {
  color: #A5A5A5;
  font-size: 1rem;
  line-height: 1.25;
  margin-left: 1.25rem;
}

.delivery {
  font-size: 0.75rem;
  line-height: 1.3333333333;
  width: 15.625rem;
}
@media (max-width: 20em) {
  .delivery {
    white-space: nowrap;
  }
}

.logo {
  position: relative;
  min-height: 3.125rem;
  width: 100%;
}
.logo:hover, .logo :active {
  transform: scale(1.02);
}
.logo::after {
  content: "";
  height: 1px;
  background-color: #F0F0F0;
  position: absolute;
  width: 150%;
  right: 0;
  bottom: 0;
}
.logo::before {
  content: "";
  height: 1px;
  background-color: #F0F0F0;
  position: absolute;
  width: 150%;
  right: 0;
  top: 0;
}
@media (max-width: 20em) {
  .logo {
    min-height: 0;
    padding: 0.625rem 0;
    font-size: 0.875rem;
  }
  .logo img {
    width: 1.75rem;
    height: 1.75rem;
  }
}

.navigations {
  z-index: 20;
  transition: all 0.5s;
  width: 100%;
  height: 4rem;
  background-color: #fff;
  padding: 0 0.9375rem;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 29.6875em) {
  .navigations {
    padding-left: 0.5rem;
  }
}
@media (max-width: 29.0625em) {
  .navigations {
    justify-content: flex-start;
    gap: 8px;
  }
}
.navigations__in {
  position: absolute;
  right: 10%;
  top: 153.5%;
  transition: all 0.5s;
  display: block;
  position: absolute;
  width: 32px;
  height: 18px;
  cursor: pointer;
  z-index: 90;
  background-color: transparent;
}
@media (max-width: 29.0625em) {
  .navigations__in {
    right: 3.3%;
    width: 25px;
  }
}
.navigations__in span, .navigations__in::before, .navigations__in::after {
  content: "";
  transition: all 0.3s ease 0s;
  left: 0px;
  position: absolute;
  width: 32px;
  height: 1.5px;
  background-color: #000;
}
.navigations__in::before {
  top: 0px;
}
.navigations__in::after {
  width: 20px;
  height: 2px;
  bottom: 0px;
}
.navigations__in span {
  top: calc(50% - 1px);
}
.menu-open .navigations__in span {
  transform: scale(0);
}
.menu-open .navigations__in::before {
  transform: rotate(-45deg);
  top: calc(50% - 1px);
}
.menu-open .navigations__in::after {
  transform: rotate(45deg);
  bottom: calc(50% - 1px);
  width: 32px;
}
@media (max-width: 33.75em) {
  .navigations__image {
    width: 1.75rem;
    height: 1.75rem;
  }
}
@media (max-width: 28.125em) {
  .navigations__image {
    margin-left: 0.9375rem;
  }
}
.navigations__body {
  display: none;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 82.5em) {
  .navigations__body {
    gap: 2.1875rem;
  }
}
@media (min-width: 20em) and (max-width: 82.5em) {
  .navigations__body {
    gap: calc(0rem + 2.1875 * (((100vw - 20rem)) / ((62.5))));
  }
}
@media (max-width: 20em) {
  .navigations__body {
    gap: 0rem;
  }
}
@media (max-width: 28.125em) {
  .navigations__body {
    opacity: 0;
    visibility: hidden;
  }
}
@media (max-width: 40.3125em) {
  .navigations {
    padding-right: 3.75rem;
  }
}
@media (max-width: 29.0625em) {
  .navigations {
    padding-right: 2.375rem;
  }
}
.navigations__link {
  font-size: 1rem;
}
@media (max-width: 68.125em) {
  .navigations__link {
    font-size: 0.9375rem;
  }
}
@media (max-width: 51.875em) {
  .navigations__link {
    font-size: 0.75rem;
  }
}
@media (max-width: 29.0625em) {
  .navigations__link {
    font-size: 0.71875rem;
  }
}
.navigations__btn {
  font-family: "Inter";
  font-weight: normal;
  font-size: 1rem;
}
@media (max-width: 51.875em) {
  .navigations__btn {
    font-size: 0.71875rem;
  }
}
@media (min-width: 51.875em) {
  .navigations__btn {
    font-size: 0.9375rem;
  }
}
@media (min-width: 68.125em) {
  .navigations__btn {
    font-size: 1rem;
  }
}
.navigations__box {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}
.navigations__dop {
  z-index: 21;
  position: absolute;
  left: -185%;
  top: 250%;
  background-color: #fff;
  width: 17.8125rem;
  height: 20rem;
  border-radius: 0.625rem;
  padding: 1.25rem;
  box-shadow: 0px 2px 8px rgba(25, 25, 25, 0.1);
}
.navigations__dop ul li {
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.375;
}
.navigations__dop ul li:not(:last-child) {
  margin-bottom: 1rem;
}
@media (max-width: 33.75em) {
  .navigations__link--mod {
    display: none;
  }
}

.icon-menu {
  transition: all 0.5s;
  display: none;
}
@media (max-width: 40.3125em) {
  .icon-menu {
    display: block;
    position: absolute;
    right: 1.5%;
    top: auto;
    width: 32px;
    height: 18px;
    cursor: pointer;
    z-index: 39;
    background-color: transparent;
  }
}
@media (max-width: 40.3125em) and (max-width: 29.0625em) {
  .icon-menu {
    right: 3.3%;
    width: 25px;
  }
}
@media (max-width: 40.3125em) {
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    left: 0px;
    position: absolute;
    width: 32px;
    height: 1.5px;
    background-color: #000;
  }
}
@media (max-width: 40.3125em) {
  .icon-menu::before {
    top: 0px;
  }
}
@media (max-width: 40.3125em) {
  .icon-menu::after {
    width: 20px;
    height: 2px;
    bottom: 0px;
  }
}
@media (max-width: 40.3125em) {
  .icon-menu span {
    top: calc(50% - 1px);
  }
}
@media (max-width: 40.3125em) {
  .menu-open .icon-menu span {
    transform: scale(0);
  }
  .menu-open .icon-menu::before {
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .menu-open .icon-menu::after {
    transform: rotate(45deg);
    bottom: calc(50% - 1px);
    width: 32px;
  }
}

.footer {
  position: relative;
  background-color: #fff;
  width: 100%;
  padding: 2rem 0;
}
@media (max-width: 24.375em) {
  .footer {
    padding-bottom: 0.9375rem;
    padding-top: 0;
  }
}
.footer__box {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.footer__body {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
@media (min-width: 82.5em) {
  .footer__body {
    gap: 6.25rem;
  }
}
@media (min-width: 20em) and (max-width: 82.5em) {
  .footer__body {
    gap: calc(-2.5rem + 8.75 * (((100vw - 20rem)) / ((62.5))));
  }
}
@media (max-width: 20em) {
  .footer__body {
    gap: -2.5rem;
  }
}
@media (max-width: 77.4375em) {
  .footer__body {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 54.6875em) {
  .footer__body {
    justify-content: space-between;
  }
}
@media (max-width: 36.875em) {
  .footer__body {
    justify-content: center;
    gap: 10px;
  }
}
@media (max-width: 24.375em) {
  .footer__body {
    order: 1;
    flex-direction: column;
    gap: 5px;
    border-bottom: 1px solid #F0F0F0;
    margin-bottom: 0.75rem;
  }
}
.footer__logo {
  font-size: 1.3125rem;
  padding-right: 2.1875rem;
  padding-left: 0.625rem;
}
@media (max-width: 77.4375em) {
  .footer__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.25rem 0;
  }
}
@media (max-width: 24.375em) {
  .footer__logo {
    order: 0;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding-left: 0;
  }
}
.footer__item {
  font-size: 1rem;
}
.footer__item:not(:first-child) {
  padding-top: 0.3125rem;
}
@media (max-width: 55em) {
  .footer__item:not(:first-child) {
    text-align: center;
  }
}
@media (max-width: 55em) and (max-width: 36.875em) {
  .footer__item:not(:first-child) {
    text-align: left;
  }
}
.footer__item:first-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 11.125rem;
  text-align: center;
}
@media (max-width: 55em) {
  .footer__item:first-child {
    display: none;
  }
}
.footer__item:nth-child(2) ul {
  width: 15.625rem;
}
@media (max-width: 55em) {
  .footer__item:nth-child(2) ul {
    width: 100%;
    order: 1;
  }
}
@media (max-width: 55em) {
  .footer__item:nth-child(3) {
    order: 2;
    text-align: center;
  }
}
@media (max-width: 55em) and (max-width: 36.875em) {
  .footer__item:nth-child(3) {
    text-align: right;
  }
}
@media (max-width: 55em) and (max-width: 24.375em) {
  .footer__item:nth-child(3) {
    text-align: left;
  }
}
.footer__item:last-child ul {
  width: 100%;
}
@media (max-width: 55em) {
  .footer__item:last-child {
    width: 16.25rem;
    order: 0;
    text-align: center;
  }
}
@media (max-width: 55em) and (max-width: 36.875em) {
  .footer__item:last-child {
    order: 4;
    text-align: center;
  }
}
@media (max-width: 55em) and (max-width: 24.375em) {
  .footer__item:last-child {
    text-align: left;
  }
}
.footer__item ul img {
  margin-right: 0.625rem;
}
@media (max-width: 55em) {
  .footer__item ul img {
    margin-right: 0.0625rem;
  }
}
.footer__item h2 {
  font-size: 1.25rem;
  line-height: 1.4;
  font-weight: 600;
  margin-bottom: 1.375rem;
}
@media (max-width: 24.375em) {
  .footer__item h2 {
    font-size: 0.9375rem;
    line-height: 1.8666666667;
    margin-bottom: 0.5rem;
  }
}
.footer__item ul {
  min-width: 8.25rem;
}
@media (max-width: 24.375em) {
  .footer__item ul {
    font-size: 0.875rem;
    line-height: 0.875;
  }
}
@media (max-width: 55em) {
  .footer__item {
    font-size: 0.875rem;
    width: 9.375rem;
  }
}
@media (max-width: 24.375em) {
  .footer__item {
    font-size: 0.875rem;
    line-height: 0.875;
  }
}
.footer__list li {
  margin-bottom: 1.25rem;
}
@media (max-width: 24.375em) {
  .footer__list li {
    margin-bottom: 0.9375rem;
  }
}
.footer__list li img:hover {
  transform: scale(1.5);
}
.footer__tel {
  transition: all 0.3s;
}
.footer__adres {
  transition: all 0.3s;
}
@media (max-width: 55em) {
  .footer__adres--social {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
  }
}
@media (max-width: 24.375em) {
  .footer__adres--social {
    justify-content: flex-start;
  }
}
.footer__copy {
  width: 16.25rem;
  text-align: center;
}
@media (max-width: 77.5em) {
  .footer__copy {
    position: absolute;
    bottom: 0;
    left: auto;
    margin-bottom: 0.9375rem;
  }
}
@media (max-width: 24.375em) {
  .footer__copy {
    order: 2;
  }
}
@media (max-width: 24.375em) {
  .footer__copy {
    text-align: center;
    width: 100%;
    bottom: -10px;
  }
}
.footer__link {
  margin-right: 1.25rem;
}
.footer__image {
  transition: all 0.3s;
}
.footer__image:hover {
  transform: scale(1.5);
}

.home {
  overflow: hidden;
}
.home__sale {
  margin: 1.875rem 0;
}

.category-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
  column-gap: 30px;
  margin-bottom: 1.875rem;
}
@media (max-width: 82.0625em) {
  .category-box {
    column-gap: 10px;
  }
}
@media (max-width: 65.3125em) {
  .category-box {
    flex-wrap: wrap;
  }
}
@media (max-width: 41.25em) {
  .category-box {
    justify-content: space-around;
  }
}
@media (max-width: 28.125em) {
  .category-box {
    flex-wrap: nowrap;
    overflow: scroll;
    width: 450px;
    justify-content: flex-start;
    column-gap: 5px;
  }
  .category-box::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}
@media (max-width: 24.375em) {
  .category-box {
    width: 43.75rem;
    padding-right: 20rem;
  }
}
@media (max-width: 28.125em) {
  .category-box {
    position: fixed;
    top: 0;
    left: 0;
    height: 3.875rem;
    background-color: #fff;
    z-index: 20;
    width: 43.75rem;
    padding-right: 17.5rem;
  }
}
.category-box__section {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 30px;
  row-gap: 20px;
  height: 7.5rem;
  flex-wrap: wrap;
}
@media (max-width: 82.5em) {
  .category-box__section {
    justify-content: space-around;
    gap: 10px;
    width: 70%;
    flex: 1 1 auto;
  }
}
@media (max-width: 65.3125em) {
  .category-box__section {
    justify-content: center;
  }
}
@media (max-width: 65.3125em) and (min-width: 82.5em) {
  .category-box__section {
    gap: 3.75rem;
  }
}
@media (max-width: 65.3125em) and (min-width: 20em) and (max-width: 82.5em) {
  .category-box__section {
    gap: calc(0rem + 3.75 * (((100vw - 20rem)) / ((62.5))));
  }
}
@media (max-width: 65.3125em) and (max-width: 20em) {
  .category-box__section {
    gap: 0rem;
  }
}
@media (max-width: 46.875em) {
  .category-box__section {
    column-gap: 5px;
    justify-content: space-around;
    height: auto;
    flex-wrap: nowrap;
  }
}
@media (max-width: 28.125em) {
  .category-box__section {
    height: 100%;
    width: 110%;
    column-gap: 12px;
  }
}
@media (max-width: 24.375em) {
  .category-box__section {
    gap: 8px;
  }
}
.category-box__link {
  width: 8.4375rem;
  height: 6.5rem;
  background-color: #fff;
  border: 1px solid #F0F0F0;
  box-sizing: border-box;
  border-radius: 12px;
  font-family: "Segoe UI";
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1.3333333333;
  display: inline-flex;
  align-items: center;
  text-align: center;
  font-style: normal;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  color: #191919;
}
@media (max-width: 74.25em) {
  .category-box__link {
    width: 6.875rem;
    height: 6.25rem;
  }
}
@media (max-width: 39.375em) {
  .category-box__link {
    width: 6.25rem;
    height: 5.625rem;
  }
}
@media (max-width: 28.125em) {
  .category-box__link {
    font-size: 0.875rem;
    line-height: 1.2857142857;
    flex-direction: row;
    height: 3.125rem;
    border: 1px solid #F0F0F0;
    box-sizing: border-box;
    border-radius: 6px;
    width: 6.1875rem;
  }
}
@media (max-width: 24.375em) {
  .category-box__link {
    height: 2.5rem;
  }
}
.category-box__link::before {
  font-size: 1.5625rem;
}
@media (max-width: 28.125em) {
  .category-box__link::before {
    font-size: 1.25rem;
  }
}
.category-box__link--modify {
  color: #E23535;
}
.category-box__link:hover, .category-box__link :active {
  transition: all 0.3s;
  transform: scale(1.1);
}

.category-box-active {
  transition: all 0.9s ease-in;
  position: fixed;
  top: 0;
  z-index: 30;
  width: 100%;
}

.sale-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
@media (min-width: 82.5em) {
  .sale-block {
    gap: 1.875rem;
  }
}
@media (min-width: 20em) and (max-width: 82.5em) {
  .sale-block {
    gap: calc(0.625rem + 1.25 * (((100vw - 20rem)) / ((62.5))));
  }
}
@media (max-width: 20em) {
  .sale-block {
    gap: 0.625rem;
  }
}
@media (max-width: 57.1875em) {
  .sale-block {
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }
}
@media (max-width: 46.875em) {
  .sale-block {
    justify-content: center;
    row-gap: 12px;
  }
}
@media (max-width: 46.875em) and (min-width: 82.5em) {
  .sale-block {
    column-gap: 3.75rem;
  }
}
@media (max-width: 46.875em) and (min-width: 20em) and (max-width: 82.5em) {
  .sale-block {
    column-gap: calc(0.625rem + 3.125 * (((100vw - 20rem)) / ((62.5))));
  }
}
@media (max-width: 46.875em) and (max-width: 20em) {
  .sale-block {
    column-gap: 0.625rem;
  }
}
@media (max-width: 27.8125em) {
  .sale-block {
    flex-wrap: nowrap;
    overflow: scroll;
    width: 43.75rem;
    height: 350px;
    justify-content: flex-start;
    align-items: center;
    padding-right: 24.6875rem;
    margin: 0;
  }
}
@media (max-width: 27.8125em) {
  .sale-block::-webkit-scrollbar {
    width: 0;
  }
}
@media (max-width: 20em) {
  .sale-block {
    padding-right: 37.5rem;
    width: 56.25rem;
  }
}
.sale-block__item {
  z-index: 10;
  transition: all 0.3s ease-in;
  cursor: pointer;
  position: relative;
  display: block;
  width: 18.75rem;
  height: 21.4375rem;
  padding-left: 1.25rem;
  padding-right: 0.9375rem;
  padding-bottom: 1.25rem;
}
@media (max-width: 82.0625em) and (min-width: 82.5em) {
  .sale-block__item {
    width: 18.125rem;
  }
}
@media (max-width: 82.0625em) and (min-width: 20em) and (max-width: 82.5em) {
  .sale-block__item {
    width: calc(6.25rem + 11.875 * (((100vw - 20rem)) / ((62.5))));
  }
}
@media (max-width: 82.0625em) and (max-width: 20em) {
  .sale-block__item {
    width: 6.25rem;
  }
}
@media (max-width: 82.0625em) and (min-width: 82.5em) {
  .sale-block__item {
    height: 21.4375rem;
  }
}
@media (max-width: 82.0625em) and (min-width: 20em) and (max-width: 82.5em) {
  .sale-block__item {
    height: calc(7.5rem + 13.9375 * (((100vw - 20rem)) / ((62.5))));
  }
}
@media (max-width: 82.0625em) and (max-width: 20em) {
  .sale-block__item {
    height: 7.5rem;
  }
}
@media (max-width: 57.1875em) and (min-width: 82.5em) {
  .sale-block__item {
    width: 18.125rem;
  }
}
@media (max-width: 57.1875em) and (min-width: 20em) and (max-width: 82.5em) {
  .sale-block__item {
    width: calc(8.125rem + 10 * (((100vw - 20rem)) / ((62.5))));
  }
}
@media (max-width: 57.1875em) and (max-width: 20em) {
  .sale-block__item {
    width: 8.125rem;
  }
}
@media (max-width: 57.1875em) and (min-width: 82.5em) {
  .sale-block__item {
    height: 21.4375rem;
  }
}
@media (max-width: 57.1875em) and (min-width: 20em) and (max-width: 82.5em) {
  .sale-block__item {
    height: calc(9.375rem + 12.0625 * (((100vw - 20rem)) / ((62.5))));
  }
}
@media (max-width: 57.1875em) and (max-width: 20em) {
  .sale-block__item {
    height: 9.375rem;
  }
}
@media (max-width: 57.1875em) {
  .sale-block__item:last-child {
    display: none;
  }
}
@media (max-width: 46.875em) {
  .sale-block__item {
    width: 15.625rem;
    height: 18.75rem;
  }
  .sale-block__item:last-child {
    display: flex;
  }
}
@media (max-width: 35em) and (min-width: 82.5em) {
  .sale-block__item {
    width: 18.125rem;
  }
}
@media (max-width: 35em) and (min-width: 20em) and (max-width: 82.5em) {
  .sale-block__item {
    width: calc(11.25rem + 6.875 * (((100vw - 20rem)) / ((62.5))));
  }
}
@media (max-width: 35em) and (max-width: 20em) {
  .sale-block__item {
    width: 11.25rem;
  }
}
@media (max-width: 35em) and (min-width: 82.5em) {
  .sale-block__item {
    height: 21.4375rem;
  }
}
@media (max-width: 35em) and (min-width: 20em) and (max-width: 82.5em) {
  .sale-block__item {
    height: calc(12.5rem + 8.9375 * (((100vw - 20rem)) / ((62.5))));
  }
}
@media (max-width: 35em) and (max-width: 20em) {
  .sale-block__item {
    height: 12.5rem;
  }
}
@media (max-width: 27.8125em) {
  .sale-block__item {
    width: 17.5rem;
    height: 20rem;
    flex: 0 0 280px;
  }
}
@media (max-width: 27.8125em) and (min-width: 82.5em) {
  .sale-block__item {
    width: 17.5rem;
  }
}
@media (max-width: 27.8125em) and (min-width: 20em) and (max-width: 82.5em) {
  .sale-block__item {
    width: calc(16.875rem + 0.625 * (((100vw - 20rem)) / ((62.5))));
  }
}
@media (max-width: 27.8125em) and (max-width: 20em) {
  .sale-block__item {
    width: 16.875rem;
  }
}
@media (max-width: 27.8125em) and (min-width: 82.5em) {
  .sale-block__item {
    height: 20rem;
  }
}
@media (max-width: 27.8125em) and (min-width: 20em) and (max-width: 82.5em) {
  .sale-block__item {
    height: calc(19.375rem + 0.625 * (((100vw - 20rem)) / ((62.5))));
  }
}
@media (max-width: 27.8125em) and (max-width: 20em) {
  .sale-block__item {
    height: 19.375rem;
  }
}
.sale-block__item:hover {
  transform: scale(1.1);
}
@media (max-width: 27.8125em) {
  .sale-block__item:hover {
    transform: scale(1);
    transition: none;
  }
}
.sale-block__item:active {
  transition: 0s;
  transform: scale(1.05);
}
@media (max-width: 27.8125em) {
  .sale-block__item:active {
    transform: scale(1);
    transition: none;
  }
}
.sale-block__item img {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.sale-block__text {
  z-index: 20;
  font-family: "Inter";
  line-height: 1.4;
  text-align: left;
  color: #fff;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
@media (min-width: 82.5em) {
  .sale-block__text {
    font-size: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 82.5em) {
  .sale-block__text {
    font-size: calc(0.625rem + 0.625 * (((100vw - 20rem)) / ((62.5))));
  }
}
@media (max-width: 20em) {
  .sale-block__text {
    font-size: 0.625rem;
  }
}
@media (max-width: 46.875em) {
  .sale-block__text {
    font-size: 1.0625rem;
  }
}
@media (max-width: 35em) {
  .sale-block__text {
    font-size: 1rem;
  }
}
@media (max-width: 27.8125em) {
  .sale-block__text {
    font-size: 1.25rem;
  }
}
@media (max-width: 27.8125em) and (min-width: 82.5em) {
  .sale-block__text {
    font-size: 1.25rem;
  }
}
@media (max-width: 27.8125em) and (min-width: 20em) and (max-width: 82.5em) {
  .sale-block__text {
    font-size: calc(1.1875rem + 0.0625 * (((100vw - 20rem)) / ((62.5))));
  }
}
@media (max-width: 27.8125em) and (max-width: 20em) {
  .sale-block__text {
    font-size: 1.1875rem;
  }
}
